body {
    background-color: #000;
    background-image: url("../img/cover_desktop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: fade ease-in;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  color: #FFF;
  text-align: center;
  margin: 50vh auto;
  font-size: 3em;
}
